.profile {
    margin: 0 auto;
    max-width: 1540px;
    box-sizing: border-box;
}


.profile__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: 200px;
    margin: 50px auto;
    gap: 100px;
}

.profile__image{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    background: #f0f0f0;
}

.profile__info {
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile__name-area {
    display: flex;
    flex-direction: column;
}

.profile__name {
    font-size: 25px;
    font-weight: bold;
}

.profile__rating {
    display: flex;
}

.star {
    font-size: 40px;
    margin-right: 5px;
}

.star--active {
    color: rgba(255, 240, 72, 1);
}

.star--inactive {
    color: rgba(217, 217, 217, 1);
}

.profile__edit {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.profile__edit-btn {
    display: inline-block;
    padding: 10px 30px;
    color: #FF5655;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #FF5655;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}


.nav {
    display: flex;
    width: 100%;
    max-width: 1540px;
    margin: 50px auto 50px auto;
    border-bottom: 3px solid #ccc;
}

.nav__tabs {
    display: flex;
    gap: 50px;
    margin-left: 200px;
    margin-bottom: 20px;
}

.nav__tab {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.nav__tab--active {
    color: red;
}

.nav__unread-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: rgba(255, 0, 0, 1);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30%;
    width: 26px;
    height: 26px;
}


.product {
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 70px;
    margin-bottom: 50px;
    padding: 0 100px;
    box-sizing: border-box;
}

.product__list-link {
    text-decoration: none;
}

.product__image-wrapper {
    position: relative;
}

.product__item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 3px;
}

.product__unread-count {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 1);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.product__name {
    margin-top: 0;
    font-size: 16px;
    color: #000;
    width: 100%;
    text-align: left;
}

.product__empty-message {
    font-size: 18px;
    white-space: nowrap;
    margin-left: 70px;
}



/* タブレット幅対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {

    .profile {
        max-width: 850px;
    }

    .profile__header {
        height: 100px;
        gap: 30px;
    }

    .profile__image{
        margin-left: 30px;
    }

    .image {
        width: 80px;
        height: 80px;
    }

    .profile__info {
        gap: 20px;
    }

    .profile__name {
        font-size: 25px;
    }

    .star {
        font-size: 30px;
        margin-right: 10px;
    }

    .profile__edit {
        margin-left: 100px;
    }

    .profile__edit-btn {
        padding: 5px 20px;
        font-size: 15px;
    }


    .nav {
        max-width: 850px;
    }

    .nav__tabs {
        gap: 80px;
        margin-left: 150px;
        margin-bottom: 10px;
    }

    .nav__tab {
        font-size: 18px;
    }

    .nav__unread-count {
        font-size: 15px;
        width: 24px;
        height: 24px;
    }


    .product__list {
        grid-template-columns: repeat(3,1fr);
    }

    .product__unread-count {
        top: 5px;
        left: 5px;
    }

    .product__name {
        font-size: 15px;
    }

    .product__empty-message {
        font-size: 18px;
        margin-left: 70px;
    }

}