.profile {
    margin: 0 auto;
    max-width: 1540px;
    box-sizing: border-box;
}


.profile__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: 200px;
    margin: 50px auto;
    gap: 100px;
}

.profile__image{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    background: #f0f0f0;
}

.profile__info {
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile__name-area {
    display: flex;
    flex-direction: column;
}

.profile__name {
    font-size: 25px;
    font-weight: bold;
}

.profile__rating {
    display: flex;
}

.star {
    font-size: 40px;
    margin-right: 5px;
}

.star--active {
    color: rgba(255, 240, 72, 1);
}

.star--inactive {
    color: rgba(217, 217, 217, 1);
}

.profile__edit {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.profile__edit-btn {
    display: inline-block;
    padding: 10px 30px;
    color: #FF5655;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #FF5655;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}


.nav {
    display: flex;
    width: 100%;
    max-width: 1540px;
    margin: 50px auto 50px auto;
    border-bottom: 3px solid #ccc;
}

.nav__tabs {
    display: flex;
    gap: 50px;
    margin-left: 200px;
    margin-bottom: 20px;
}

.nav__tab {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.nav__tab--active {
    color: red;
}


.product {
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 70px;
    margin-bottom: 50px;
    padding: 0 100px;
    box-sizing: border-box;
}

.product__list-link {
    text-decoration: none;
}

.product__item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 3px;
}

.product__name {
    margin-top: 0;
    font-size: 16px;
    color: #000;
    width: 100%;
    text-align: left;
}

.product__empty-message {
    font-size: 18px;
    white-space: nowrap;
    margin-left: 70px;
}