.transaction {
    margin: 0 auto;
    max-width: 1540px;
}

.transaction__container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.transaction__divider {
    border-top: 2px solid #5F5F5F;
    width: 100%;
    box-sizing: border-box;
}


.transaction__aside {
    width: 20%;
    height: 100%;
    background-color: #868686;
}

.transaction__aside-title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.transaction__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transaction__list-item {
    background-color: #EEEFEB;
    margin-bottom: 40px;
    padding: 3px;
    width: 200px;
    border-radius: 5px;
}

.transaction__list-item a {
    display: block;
    color: #000;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}

.transaction__main {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.transaction__user {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 25px;
    height: 100px;
}

.transaction__user-image-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 25px;
}

.transaction__chat-content {
    width: 300px;
}

.transaction__user-name-text {
    font-size: 36px;
    font-weight: bold;
}

.transaction__complete-button {
    margin-left: auto;
}

.complete-button {
    display: block;
    text-align: center;
    width: auto;
    padding: 10px 15px;
    margin: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    background: #FF8282;
    color: #fff;
    border-style: none;
    box-sizing: border-box;
}


.transaction__item-info {
    display: flex;
    gap: 20px;
    margin: 20px 35px;
}

.transaction__item-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.transaction__item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.transaction__item-name {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.transaction__item-price {
    font-size: 30px;
    margin-top: 30px;
}

.transaction__item-price span {
    font-size: 30px;
    margin-left: 10px;
}



.transaction__chat-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 25px;
}

.transaction__chat-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.transaction__chat-message--other {
    align-items: flex-start;
}

.transaction__chat-message--me {
    align-items: flex-end;
}

.chat-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.chat-user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-user-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

.chat-bubble {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding: 10px 10px;
    border-radius: 4px;
    width: 450px;
    height: 50px;
    word-wrap: break-word;
}


.chat-actions {
    display: flex;
    gap: 20px;
    margin-top: 5px;
    margin-right: 15px;
    justify-content: flex-end;
}

.edit-button,
.delete-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 15px;
    color: #5F5F5F;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
    color: #000;
}


.chat-input-area {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 25px;
    width: 100%;
}

.chat-textarea {
    flex: 0 0 80%;
    resize: none;
    height: 45px;
    border: solid 1px rgba(95, 95, 95, 1);
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

.image-button {
    flex: 0 0 10%;
    padding: 5px;
    height: 40px;
    color: #FF5655;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #FF5655;
    border-radius: 10px;
    cursor: pointer;
}

.send-button {
    flex: 0 0 8%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.send-icon-img {
    width: 60px;
    height: auto;
}

.send-button:hover .send-icon-img {
    opacity: 0.5;
}




.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -30%);
    z-index: 1000;
}

/* 非表示用 */
.modal--hidden {
    display: none;
}

.modal__content {
    width: 600px;
    min-height: 370px;
    background-color: rgba(253, 252, 230, 1);
    border: 1px solid #000;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.modal__title {
    color: #000;
    font-size: 35px;
    padding-left: 20px;
}

.modal__text {
    color: rgba(134, 134, 134, 1);
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.modal__divider {
    width: 100%;
    height: 1px;
    background-color: #000;
}

.modal__rating {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.star {
    width: 100px;
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.star--inactive {
    color: rgba(217, 217, 217, 1);
}

.star--active {
    color: rgba(255, 240, 72, 1);
}

.modal__button {
    display: flex;
    justify-content: flex-end;
    margin: 15px 20px;
}

.modal__button-submit {
    width: 130px;
    height: 50px;
    background-color: rgba(255, 130, 130, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}



