.transaction {
    margin: 0 auto;
    max-width: 1540px;
}

.transaction__container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.transaction__divider {
    border-top: 2px solid #5F5F5F;
    width: 100%;
    box-sizing: border-box;
}



.transaction__aside {
    width: 20%;
    height: 100%;
    background-color: #868686;
}

.transaction__aside-title {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.transaction__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transaction__list-item {
    background-color: #EEEFEB;
    margin-bottom: 40px;
    padding: 3px;
    width: 200px;
    border-radius: 5px;
}

.transaction__list-item a {
    display: block;
    color: #000;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}



.transaction__main {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.transaction__user {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 25px;
    height: 100px;
}

.transaction__user-image-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 25px;
}

.transaction__user-name-text {
    font-size: 36px;
    font-weight: bold;
}

.transaction__complete-button {
    margin-left: auto;
}

.complete-button {
    display: block;
    text-align: center;
    width: auto;
    padding: 10px 15px;
    margin: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    background: #FF8282;
    color: #fff;
    border-style: none;
    box-sizing: border-box;
}

.complete-button--disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    pointer-events: none;
}

.scroll-area {
    flex: 1;
    overflow-y: auto;
    padding: 0;
}

.transaction__item-info {
    display: flex;
    gap: 20px;
    margin: 20px 35px;
}

.transaction__item-img img {
    width: 200px;
    height: 200px;
    border-radius: 3px;
    object-fit: cover;
}

.transaction__item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.transaction__item-name {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.transaction__item-price {
    font-size: 30px;
    margin-top: 30px;
}

.transaction__item-price span {
    font-size: 30px;
    margin-left: 10px;
}



.transaction__chat-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 25px;
}

.transaction__chat-message:last-child {
    margin-bottom: 30px;
}


.transaction__chat-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.transaction__chat-message--other {
    align-items: flex-start;
}

.transaction__chat-message--me {
    align-items: flex-end;
}

.transaction__chat-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.transaction__chat-user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.transaction__chat-user-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px 0 10px;
}

.transaction__chat-bubble-image {
    margin-bottom: 5px;
}

.transaction__chat-bubble-image-img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    margin-top: 5px;
}

.transaction__chat-bubble-text {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding: 3px 10px;
    border-radius: 4px;
    width: 450px;
    min-height: 50px;
    word-wrap: break-word;
    position: relative;
}

.transaction__chat-bubble-text-message {
    font-size: 15px;
}



.hidden {
    display: none;
}

.edit-textarea {
    background-color: #D9D9D9;
    border: none;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 15px;
    resize: none;
    outline: none;
    box-sizing: border-box;
    position: absolute;
    inset: 0;
}


.chat-actions {
    display: flex;
    gap: 20px;
    margin: 0 15px 5px 0;
    justify-content: flex-end;
}

.edit-button,
.delete-button,
.save-button,
.cancel-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 15px;
    color: #5F5F5F;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
    color: #000;
}

.chat-send-form {
    flex-shrink: 0;
}


.form_error {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #ff0000;
    font-size: 15px;
    margin: 3px 35px;
}


.chat-input-area {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 25px;
    margin-bottom: 5px;
    width: 100%;
}

.chat-textarea {
    flex: 0 0 80%;
    resize: none;
    height: 45px;
    line-height: 25px;
    border: solid 1px rgba(95, 95, 95, 1);
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

.image-button {
    flex: 0 0 10%;
    padding: 5px;
    height: 40px;
    border: 2px solid #FF5655;
    border-radius: 10px;
    cursor: pointer;
}

.image-button-label {
    display: flex;
    justify-content: center;
    color: #FF5655;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    box-sizing: border-box;
}

.chat__image-input {
    display: none;
}

.send-button {
    flex: 0 0 8%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.send-icon-img {
    width: 60px;
    height: auto;
}

.send-button:hover .send-icon-img {
    opacity: 0.5;
}

.send-button--disabled {
    cursor: not-allowed;
}

.image-button--disabled,
.image-button-label--disabled {
    cursor: not-allowed;
    opacity: 0.8;
}



/* モーダルウィンドウ */
.modal {
    position: fixed;
    inset: 100px 0 0 300px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal--hidden {
    display: none;
}

.modal__content {
    width: 600px;
    height: 370px;
    background-color: rgba(253, 252, 230, 1);
    border: 1px solid #000;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.modal__title {
    color: #000;
    font-size: 35px;
    padding-left: 20px;
}

.modal__text {
    color: rgba(134, 134, 134, 1);
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.modal__divider {
    width: 100%;
    height: 1px;
    background-color: #000;
}

.modal__rating {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.star {
    width: 100px;
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.star--inactive {
    color: rgba(217, 217, 217, 1);
}

.star--active {
    color: rgba(255, 240, 72, 1);
}

.modal__button {
    display: flex;
    justify-content: flex-end;
    margin: 15px 20px;
}

.modal__button-submit {
    width: 130px;
    height: 50px;
    background-color: rgba(255, 130, 130, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}




/* タブレット幅対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {

    .transaction {
        margin: 0 auto;
        max-width: 850px;
    }


    .transaction__aside-title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .transaction__list-item {
        width: 80%;
        margin-bottom: 10px;
    }

    .transaction__list-item a {
        font-size: 15px;
    }


    .transaction__user {
        gap: 5px;
        height: 80px;
    }

    .transaction__user-image-img {
        width: 65px;
        height: 65px;
        margin-left: 5px;
    }

    .transaction__user-name-text {
        font-size: 20px;
    }

    .complete-button {
        padding: 8px 13px;
        margin: 15px;
        font-size: 16px;
    }


    .transaction__item-img img {
        width: 150px;
        height: 150px;
    }

    .transaction__item-name {
        font-size: 30px;
    }

    .transaction__item-price {
        font-size: 20px;
        margin-top: 20px;
    }

    .transaction__item-price span {
        font-size: 25px;
    }


    .transaction__chat-area {
        gap: 10px;
    }

    .transaction__chat-user-info {
        gap: 0;
    }

    .transaction__chat-user-name {
        font-size: 18px;
        margin: 0 5px 0 5px;
    }

    .transaction__chat-bubble-image-img {
        max-width: 150px;
        max-height: 150px;
        border-radius: 5px;
        margin-top: 5px;
    }

    .transaction__chat-bubble-text {
        width: 350px;
    }

    .chat-actions {
        margin-top: 0;
    }

    .edit-button,
    .delete-button,
    .save-button,
    .cancel-button {
        font-size: 14px;
    }


    .form_error {
        font-size: 15px;
    }

    .chat-textarea {
        flex: 0 0 65%;
        height: 40px;
        padding: 9px 12px;
        line-height: 20px;
        font-size: 15px;
    }

    .image-button {
        flex: 0 0 20%;
        height: 35px;
        padding: 5px 5px;
    }

    .image-button-label {
        font-size: 14px;
    }

    .send-icon-img {
        width: 50px;
    }


/* モーダルウィンドウ */
    .modal {
        inset: 0;
    }

    .modal__content {
        width: 450px;
        height: 330px;
    }

    .modal__title {
        font-size: 25px;
    }

    .modal__text {
        font-size: 15px;
    }

    .star {
        width: 80px;
        height: 80px;
        font-size: 60px;
        line-height: 80px;
    }

    .modal__button {
        margin: 25px 20px;
    }

    .modal__button-submit {
        width: 100px;
        height: 40px;
        font-size: 18px;
    }

}
