/*ナビ部分*/
.nav {
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 3px solid #ccc;  /*ナビの下線*/
}

.nav__tabs {
    display: flex;
    gap: 50px;
    margin-left: 200px;
    margin-bottom: 20px;
}

.nav__tab {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.nav__tab--active {
    color: red;
}



/*商品リスト*/
.product {
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
}

/*グリッドレイアウト使用*/
.product__list {
    display: grid;
    grid-template-columns: repeat(4,1fr); /*4列*/
    gap: 30px;
    margin-bottom: 50px;
    padding: 0 150px;
    box-sizing: border-box; /* padding込みで幅調整 */
}

.product__item img {
    width: 100%;
    aspect-ratio: 1/1;  /*縦横比1対1 height:100pxと同じ役割*/
    object-fit: cover;  /* 画像が切れずに中央寄せで収まる */
    border-radius: 2px;
}

.product__name {
    margin-top: 5px;
    font-size: 16px;
    width: 100%;
    text-align: left;
    color: #000;
}

.show-link {
    text-decoration: none;
}
