body {
    margin: 0;
    padding: 0;
}

.header {
    background: #000;
    width: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1540px;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
}



/* タブレット幅対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {

    .header__inner {
        max-width: 850px;
        padding: 15px 20px;
    }

    .header__logo img {
        width: 200px;
    }
}
