body {
    margin: 0;
    padding: 0;
}

.header {
    background: #000;
    width: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1540px;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
}

.header__logo {
    flex-shrink: 0;
}

.header__search {
    width: 100%;
    max-width: 550px;
    min-width: 200px;
    margin: 0 auto;
}

.search-form__input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-form__input::placeholder {
    color: #000;
    font-size: 16px;
}

.header__buttons {
    display: flex;
    gap: 30px;
    flex-shrink: 1;
}

.button {
    font-size:20px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.button--sell {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 3px;
}


/* タブレット幅対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {

    .header__inner {
        max-width: 850px;
    }

    .header__logo img {
        width: 150px;
        height: auto;
    }

    .header__search {
        max-width: 300px;
        margin: 0 20px;
    }

    .search-form__input {
        padding: 8px 12px;
        font-size: 14px;
    }

    .search-form__input::placeholder {
        font-size: 14px;
    }

    .header__buttons {
        gap: 15px;
        align-items: center;
    }

    .button {
        font-size:13px;
    }

    .button--sell {
        padding: 4px 8px;
    }

}